.SaturnWrapper {
    text-align: center;
}

.size-descr {
    position: absolute;
    top: 150px;
    color: #fff;
    right: 150px;
    font-size: 32px;
}

.photos {
    margin-top: 500px;
}

.research-title {
    font-size: 32px;
    margin-left: 20px;
}

.research-list li {
    font-size: 24px;
    margin-top: 20px;
}

.photos img {
    width: 600px;
    height: 600px;
    margin: 20px;
    border-radius: 10px;
}

.photos-title {
    font-size: 24px;
    text-align: center;
    left: 45%;
}