.MarsWrapper {
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 24px;
}

.Mariner__title, .MarsWrapper__title, .MarsResearch__title, .FutureMissions__title {
    font-size: 32px;
}


.MarsResearch__subtitle, .Mariner__subtitle {
    font-size: 24px;
}

.MarsResearch__link, .Mariner__link, .FutureMissions__link {
    color: black;
    display: inline;
    text-decoration: underline;
    font-weight: bold;
}