.JupiterWrapper {
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 0 40px;
}

.JupiterWrapper__title {
    font-size: 32px;
}

.JupiterWrapper__research {
    font-size: 24px;
    font-weight: 500;
}

.Pioneer__title {
    font-size: 24px;
}

.Pioneer__info {
    font-size: 20px;
}

.Pioneer__link {
    color: black;
    display: inline;
    text-decoration: underline;
}

.Pioneer__photo {
    width: 400px;
    height: 400px;
}

.JupiterFacts__title {
    font-size: 24px;
}

.JupiterFacts__list {
    font-size: 20px;
    text-align: left;
}

.JupiterFacts__list li {
    padding: 10px;
}

.JupiterFacts__photo {
    width: 400px;
    height: 400px;
}

.JupiterFacts__descr {
    display: inline-block;
}

figcaption {
    font-size: 20px;
}