table {
    overflow:hidden;
    background:#fefefe;
    width:70%;
    margin:5% auto 0;
    border-radius:5px;
    border: none;
    font-size: 18px;
}

th, td {
    padding:18px 28px 18px;
    text-align:center;
}

th {
    padding-top:22px;
    text-shadow: 1px 1px 1px #fff;
}

td {
    border-top: none;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}

.title {
    text-align: center;
    font-size: 24px;
}
.MoonInfo {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
