.slick-arrow:before {
    font-size: 50px !important;
    position: relative;
    top: -50px;
    color: white;
}

.slick-prev {
    position: absolute;
    left: 20px;
    z-index: 2;
}

.slick-next {
    position: absolute;
    right: 50px;
    z-index: 2;
}

video {
    width: 100%;
    max-height: 90%;
}

.slick-dots li button:before {
    top: -200px;
    left: 950px;
    font-size: 20px;
    color: #fff;
}

.planet-wrapper {
    width: 400px;
    text-align: center;
    position: absolute;
}

.planet-wrapper__name {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: -600px;
    left: 10%;
    z-index: 10;
    margin: 0;
}

.planet-name__small-descr {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    position: relative;
    top: -550px;
    left: 10%;
    z-index: 10;
    margin: 0;
}

.planet-wrapper__info {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    position: relative;
    padding: 20px;
    top: -500px;
    left: 10%;
    z-index: 10;
    background: black;
    border: 2px solid gray;
}

.planet-wrapper__info:hover {
    border-color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    display: block;
}

ul {
    list-style: none;
    position: relative;
    text-align: left;
    margin: 0;
}

li {
    float: left;
}

ul:after {
    clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: block;
}

nav {
    position: relative;
    background: #2B2B2B;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #0E0E0E;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

ul.primary li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
    border-right: none;
}

ul.primary li a:hover {
    color: #000;
}


ul.sub li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 30px;
}

ul.sub li:last-child a {
    border-bottom: none;
}

ul.sub li a:hover {
    color: #000;
    background: #eeeeee;
}

ul.primary li:hover ul {
    display: block;
    background: #fff;
}

ul.primary li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
}

ul.primary li:hover > a {
    color: #000;
}
